<div class="content">
	<div class="nav-aside nav-4">
		<ul>
			<li><a href="#"><img src="assets/icons/favorites.png" alt="radio icon"></a></li>
			<li><a href="#"><img src="assets/icons/history.png" alt="internet icon"></a></li>
			<li><a href="#"><img src="assets/icons/left.png" alt=""></a></li>
			<li><a href="#"><img src="assets/icons/right.png" alt=""></a></li>

		</ul>
	</div>
    <div class="main show" id="main-my-browser">
    <div class="nav-top">
        <ul>
            <li><a href="#">Search Google or type URL</a></li>
            <li><a href="#"><img src="assets/icons/favorites.png" alt=""></a></li>
        </ul>
    </div>
    <div class="browser-list slide-container">
    	<ul class="list">
			<li>
				<span><img src="assets/icons/nova-logo.png" alt=""></span>
			</li>
			<li>
				<span><img src="assets/icons/nova-logo.png" alt=""></span>
			</li>
			<li>
				<span><img src="assets/icons/nova-logo.png" alt=""></span>
			</li>
			<li>
				<span><img src="assets/icons/nova-logo.png" alt=""></span>
			</li>
			<li>
				<span><img src="assets/icons/nova-logo.png" alt=""></span>
			</li>
			<li>
				<span><img src="assets/icons/nova-logo.png" alt=""></span>
			</li>
    </div>
</div>
</div>