<div class="content">
	<div class="nav-aside nav-4">
		<ul>
			<li><a href="#"><img src="assets/icons/favorite.svg" alt="radio icon"></a></li>
			<li><a href="#"><img src="assets/icons/history.svg" alt="internet icon"></a></li>
			<li><a href="#"><img src="assets/icons/left.png" alt=""></a></li>
			<li><a href="#"><img src="assets/icons/right.png" alt=""></a></li>

		</ul>
	</div>
    <div class="main show" id="main-my-browser">
        <form class="search-bar" action="" method="">
            <input id="input-browser" onclick="$('#input-browser').trigger('click-input');" type=search placeholder="Search Google or type URL"></input>
            <a href="#"><img src="assets/icons/favorite.svg" alt=""></a>
        </form>
        <div id="search-done">
            <p>
                Chả giò (alternatively <span>Nem rán</span> in the Northern Vietnamese dialect), is a popular dish in  <span>Vietnamese cuisine</span> and usually served as an <span>appetizer</span> in Europe and North America, where there are <span>large Vietnamese communities</span>.
            </p>
            <p> It is ground meat, usually pork, wrapped in rice paper and deep-fried.</p>
        </div>
    <div class="browser-list slide-container">
    	<ul class="list">
			<li>
				<span><img src="assets/icons/facebook.svg" alt=""><p>Facebook</p></span>
			</li>
			<li>
				<span><img src="assets/icons/twitter.svg" alt=""><p>Twitter</p></span>
			</li>
			<li>
				<span><img src="assets/icons/youtube.svg" alt=""><p>Youtube</p></span>
			</li>
			<li>
				<span><img src="assets/icons/dribbble.svg" alt=""><p>Dribbble</p></span>
			</li>
			<li>
				<span><img src="assets/icons/times.svg" alt=""><p>Times</p></span>
			</li>
			<li>
				<span><img src="assets/icons/techcrunch.svg" alt=""><p>TechCrunch</p></span>
			</li>
		</ul>
    </div>
</div>
