<div class="content">
	<div class="nav-aside nav-4">
		<ul>
			<li><a href="#"><img src="assets/icons/favorites.png" alt="radio icon"></a></li>
			<li><a href="#"><img src="assets/icons/history.png" alt="internet icon"></a></li>
			<li><a href="#"><img src="assets/icons/left.png" alt=""></a></li>
			<li><a href="#"><img src="assets/icons/right.png" alt=""></a></li>

		</ul>
	</div>
    <div class="main show" id="main-my-browser">
    <form class="nav-top" action="" method="">
    		<input type=search placeholder="Search Google or type URL"></input>
				<a href="#"><img src="assets/icons/favorites.png" alt=""></a>
    </form>
    <div class="browser-list slide-container">
    	<ul class="list">
			<li>
				<span><img src="assets/icons/facebook-logo.png" alt=""><p>Facebook</p></span>
			</li>
			<li>
				<span><img src="assets/icons/twitter-logo.png" alt=""><p>Twitter</p></span>
			</li>
			<li>
				<span><img src="assets/icons/youtube-logo.png" alt=""><p>Youtube</p></span>
			</li>
			<li>
				<span><img src="assets/icons/dribble-logo.png" alt=""><p>Dribbble</p></span>
			</li>
			<li>
				<span><img src="assets/icons/times-logo.png" alt=""><p>Times</p></span>
			</li>
			<li>
				<span><img src="assets/icons/techcrunch-logo.png" alt=""><p>TechCrunch</p></span>
			</li>
		</ul>
    </div>
</div>
</div>
</div>
