<div class="content">
  <div class="nav-aside nav-3">
		<ul>
	    <li class="active"><a href="#"><img src="assets/icons/graph.png" alt="radio icon"></a></li>
	    <li><a href="#"><img src="assets/icons/battery.png" alt="battery icon"></a></li>
	    <li><a href="#"><img src="assets/icons/settings.png" alt="settings icon"></a></li>
		</ul>
	</div>

	<div class="main show" id="main-graph">
		<div class="nav-top">
			<ul>
				<li><a class="active" href="#">Average</a></li>
				<li><a href="#">Instant</a></li>
			</ul>
		</div>
		<div class="energy-graph">
			<p>zjguhru</p>
		</div>
	</div>
</div>