<div class="content">
  <div class="nav-aside nav-3">
		<ul>
	    <li class="active"><a href="#"><img src="assets/icons/graph.png" alt="radio icon"></a></li>
	    <li><a href="#"><img src="assets/icons/battery.png" alt="battery icon"></a></li>
	    <li><a href="#"><img src="assets/icons/settings.png" alt="settings icon"></a></li>
		</ul>
	</div>

	<div class="main show" id="main-graph">
		<div class="nav-top">
			<ul>
				<li><a class="active" href="#">Average</a></li>
				<li><a href="#">Instant</a></li>
			</ul>
		</div>
		<div class="energy-graph">
			<div class="consumption"><span>Average consumption</span><span></span><span>366Wh/mi</span></div>
			<div class="projected"><span>Projected range</span><span>245mi</span></div>
			<svg id="test-svg" width="460" height="300" viewBox="0 0 460 300" xmlns="http://www.w3.org/2000/svg">
				<defs><filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="a"><feGaussianBlur stdDeviation="1.703" in="SourceGraphic" result="blur"/></filter></defs>
				<g id="Page-1" stroke="none" stroke-width="1" stroke-linejoin="round" fill="none" fill-rule="evenodd" >
	        <g id="A4" stroke="#979797" filter="url(#blurMe)"></g>
        </g>
       </svg>
			<script>
				s = Snap(480, 340);

				var path1 = Snap('#test-svg').path("M0,200.127028 L77.5919005,200.127028 L120.093316,200.127028 L152.360762,200.127028 L193.532196,200.127028 L235.392177,200.127028 L270.841431,200.127028 L313.705239,200.127028 L319.184616,200.127028 L378.084302,200.127028 L431.258182,200.127028 L480,200.127028");

				path1.animate({d: "M-0.929050804,213.168318 C-0.929050804,213.168318 31.7358012,50.6363656 74.9708658,91.5588996 C118.20593,132.481434 132.824516,289.571916 173.013585,166.295109 C213.202654,43.0183028 248.035275,34.4350883 248.035275,34.4350883 C248.035275,34.4350883 285.897222,-0.669887603 341.794322,184.869334 C397.691422,370.408556 406.240235,257.195987 406.240235,257.195987 L433.387448,90.071231 C433.387448,90.071231 443.272123,-8.60412831 459.070949,-8.60412907"}, 1500, mina.bounce);
			</script>
		</div>
	</div>
</div>