<div class="content">
	<div class="main show" id="main-my-footer">
		<div class="nav-left">
			<div class="top">
				<span><a href="#"><img src="assets/icons/controls.svg" alt=""></a></span>
			</div>
			<div class="bottom">
				<span class="seat seat1"><a href="#"><img src="assets/icons/seat-left.svg" alt=""></a></span>
				<span class="seats seat-1"></span>
				<span class="seats seat-2"></span>
				<span class="seats seat-3"></span>
			</div>
  	</div>
  	<div class="nav-center">
  		<div class="top">
				<ul>
		        <li><span><a href="#"><img src="assets/icons/seat.svg" alt=""></a></span></li>
		        <li><span><a href="#"><img src="assets/icons/heat-front.svg" alt=""></a></span></li>
		        <li><span><a href="#"><img src="assets/icons/back-heat.svg" alt=""></a></span></li>
		        <li><span><a href="#"><img src="assets/icons/ventilo.svg" alt=""></a></span></li>
		    </ul>
  		</div>
  		<div class="bottom">
  			<div class="temperature">
	  			<a class="less" href=""></a>
	  			<div class='slider'>
	  			  <output class='slider-output'>50°F</output>
	  			  <div class='slider-track'>
	  			    <div class='slider-thumb'></div>
	  			    <div class='slider-level'></div>
	  			  </div>
	  			  <input class='slider-input' type='range' value='50' min='0' max='100' />
	  			</div>
					<a class="plus" href=""></a>
  			</div>

  			<div class="sound">
  				<a class="less" href=""></a>
  				<div class='slider'>
  				  <output class='slider-output'>VOL 15</output>
  				  <div class='slider-track'>
  				    <div class='slider-thumb'></div>
  				    <div class='slider-level'></div>
  				  </div>
  				  <input class='slider-input' type='range' value='15' min='0' max='30' />
  				</div>
  				<a class="plus" href=""></a>
  			</div>
  		</div>
  	</div>
  	<div class="nav-right">
  		<div class="top">
  			<span><a href="#"><img src="assets/icons/settings.svg" alt=""></a></span>
  		</div>
  		<div class="bottom">
  			<span class="seat seat2"><a href="#"><img src="assets/icons/seat-right.svg" alt=""></a></span>
  			<span class="seats seat-1"></span>
  			<span class="seats seat-2"></span>
  			<span class="seats seat-3"></span>
  		</div>
  	</div>
	</div>
</div>
</div>
</div>