<div class="content">
	<div class="main show" id="main-my-footer">
		<div class="nav-top">
	        <ul>
	            <li><span><a href="#"><img src="assets/icons/car.png" alt=""></a></span></li>
	            <li><span><a href="#"><img src="assets/icons/seat2.png" alt=""></a></span></li>
	            <li><span><a href="#"><img src="assets/icons/temp.png" alt=""></a></span></li>
	            <li><span><a href="#"><img src="assets/icons/vent.png" alt=""></a></span></li>
	            <li><span><a href="#"><img src="assets/icons/ventilo.png" alt=""></a></span></li>
	        </ul>
    	</div>
    	<div class="nav-bottom">
    	
	    		<span class="gauche"><a href="#"><img src="assets/icons/seat.png" alt=""></a></span>
	    		<span class="droite"><a href="#"><img src="assets/icons/seat.png" alt=""></a></span>
	    		<div class="temp">
	    			<div class="cover">
		    			<span class="img-gauche"><a href="#"><img src="assets/icons/minus.png" alt=""></a></span>
		    		</div>
					68°F
		    		<div class="cover">
		    			<span class="img-droite"><a href="#"><img src="assets/icons/plus.png" alt=""></a></span>
		    		</div>
		    	</div>
    	</div>
	</div>
</div>
</div>
</div>