<div class="content">
	<div class="main show" id="main-my-footer">
		<div class="nav-top">
	        <ul>
	            <li><span><a href="#"><img src="assets/icons/car.png" alt=""></a></span></li>
	            <li><span><a href="#"><img src="assets/icons/seat2.png" alt=""></a></span></li>
	            <li><span><a href="#"><img src="assets/icons/temp.png" alt=""></a></span></li>
	            <li><span><a href="#"><img src="assets/icons/vent.png" alt=""></a></span></li>
	            <li><span><a href="#"><img src="assets/icons/ventilo.png" alt=""></a></span></li>
	        </ul>
	        <p>Front</p>
    	</div>
    	<div class="nav-bottom">
    	
	    		<span class="gauche"><a href="#"><img src="assets/icons/seat.png" alt=""></a></span>
	    		<span class="droite"><a href="#"><img src="assets/icons/seat.png" alt=""></a></span>
	    		<div class="temp">
	    			<div class="cover">
		    			<a href="#" class="temperature-low"><img src="assets/icons/minus.png" alt=""></a>
		    		</div>
						<span class="temperature">68°F</span>
		    		<div class="cover">
		    			<a href="#" class="temperature-up"><img src="assets/icons/plus.png" alt=""></a>
		    		</div>
		    	</div>
    	</div>
	</div>
</div>
</div>
</div>