<div class="content">
	<div class="nav-aside">
		<ul>
		    <li><a href="#"><img src="assets/icons/radio.png" alt="radio icon"></a></li>
		    <li><a href="#"><img src="assets/icons/internet.png" alt="internet icon"></a></li>
		    <li><a href="#"><img src="assets/icons/music.png" alt="music icon"></a></li>
		    <li><a href="#"><img src="assets/icons/favorites.png" alt="favorites icon"></a></li>
		</ul>
	</div>

	<div class="main">
		<div class="nav-top">
			<ul>
				<li><a class="active" href="#">FM</a></li>
				<li><a href="#">AM</a></li>
				<li><a href="#">XM</a></li>
			</ul>
		</div>
	</div>

	<div class="right-list">
			
	</div>

</div>