<div class="content">
	<div class="nav-aside nav-5">
		<ul>
		    <li><a href="item-1"><img src="assets/icons/search.svg" alt="radio icon"></a></li>
		    <li><a href="item-2"><img src="assets/icons/favorite.svg" alt="internet icon"></a></li>
		    <li><a href="item-3"><img src="assets/icons/history.svg" alt="music icon"></a></li>
		    <li><a href="item-4"><img src="assets/icons/interests.png" alt="favorites icon"></a></li>
		    <li><a href="item-5"><img src="assets/icons/favorite.svg" alt="favorites icon"></a></li>
		</ul>
	</div>

	<div class="main show" id="main-navigation">
		<div class="nav-informations">
			<span>/50mph</span>
			<span><img src="assets/icons/left-arrow-nav.png" alt=""><p>1.9 miles</p></span>
			<span>Brooklyn, NY, USA</span>
		</div>
		<div class="nav-controls">
			<a href="#" class="zoom-in"></a>
			<a href="#" class="zoom-out"></a>
			<a href="#"><img src="assets/icons/nav.png" alt="nav icon"></a>
		</div>
		<div class="map-container">
			<img class="bg" src="assets/images/map-empty.png" alt="">
			<span class="nav-user"><img src="assets/icons/cursor-nav.svg" alt="nav icon"></span>
		</div>
	</div>

	<div class="main" id="main-favorites">
	  <div class="nav-top slide">
			<ul>
				<li><a class="active" href="#">Favorites</a></li>
			</ul>
		</div>
	</div>

	<div class="main" id="main-search">
		<div class="nav-top">
			<ul>
				<li><a class="active" href="#">History</a></li>
			</ul>
		</div>
		<div class="music-explorer">
		  <ul>
		  	<li>
		  		<span class="adress">
		  			<p>San Francisco, CA 94104, USA</p>
		  			<p>251 California Street, Suite 65O</p>
		  		</span>
		  		<span class="distance">47 miles</span>
		  		<span class="startnav"><img src="assets/icons/nav-icon.png" alt="navigation icon"></span>
		  	</li>
		  	<li>
		  		<span class="adress">
		  			<p>Brooklyn, NY 11201, USA</p>
		  			<p>45 Main Street, 3rd Floor</p>
		  		</span>
		  		<span class="distance">106 miles</span>
		  		<span class="startnav"><img src="assets/icons/nav-icon.png" alt="navigation icon"></span>
		  	</li>
		  	<li>
		  		<span class="adress">
		  			<p>New york, NY 10013, USA</p>
		  			<p>401 Broadway, 24th floor</p>
		  		</span>
		  		<span class="distance">0.8 miles</span>
		  		<span class="startnav"><img src="assets/icons/nav-icon.png" alt="navigation icon"></span>
		  	</li>
		  	<li>
		  		<span class="adress">
		  			<p>Venice, CA 90291, USA</p>
		  			<p>2221 Lincoln Blvd</p>
		  		</span>
		  		<span class="distance">56 miles</span>
		  		<span class="startnav"><img src="assets/icons/nav-icon.png" alt="navigation icon"></span>
		  	</li>
		  	<li>
		  		<span class="adress">
		  			<p>Boston, MA 478102, USA</p>
		  			<p>37W 20th St. Suite 604</p>
		  		</span>
		  		<span class="distance">267 miles</span>
		  		<span class="startnav"><img src="assets/icons/nav-icon.png" alt="navigation icon"></span>
		  	</li>
		  	<li>
		  		<span class="adress">
		  			<p>San Francisco, CA 94104, USA</p>
		  			<p>351 California Street, Suite 650</p>
		  		</span>
		  		<span class="distance">90 miles</span>
		  		<span class="startnav"><img src="assets/icons/nav-icon.png" alt="navigation icon"></span>
		  	</li>
		  	<li>
		  		<span class="adress">
		  			<p>San francisco, CA 94112, USA</p>
		  			<p>666 Highway to hell St.</p>
		  		</span>
		  		<span class="distance">34 miles</span>
		  		<span class="startnav"><img src="assets/icons/nav-icon.png" alt="navigation icon"></span>
		  	</li>
		  	<li>
		  		<span class="adress">
		  			<p>Denver, CO 478102, USA</p>
		  			<p>South Park avenue, 3d street</p>
		  		</span>
		  		<span class="distance"> 226 miles</span>
		  		<span class="startnav"><img src="assets/icons/nav-icon.png" alt="navigation icon"></span>
		  	</li>
		  </ul>
		</div>
	</div>

	<div class="main" id="main-pointofinterest">
		  <div class="nav-top slide">
				<ul>
					<li><a class="active" href="#">P.O.I</a></li>
				</ul>
			</div>
			<div class="poi-list slide-container">
				<ul>
					<li>
						<span><img src="assets/icons/bank.svg" alt=""></span>
						<p>Banks</p>
					</li>
					<li>
						<span><img src="assets/icons/bar.svg" alt=""></span>
						<p>Bar</p>
					</li>
					<li>
						<span><img src="assets/icons/hospital.svg" alt=""></span>
						<p>hospital</p>
					</li>
					<li>
						<span><img src="assets/icons/hotel.svg" alt=""></span>
						<p>Hotel</p>
					</li>
					<li>
						<span><img src="assets/icons/market.svg" alt=""></span>
						<p>Market</p>
					</li>
					<li>
						<span><img src="assets/icons/restaurant.svg" alt=""></span>
						<p>Restaurant</p>
					</li>
					<li>
						<span><img src="assets/icons/library.svg" alt=""></span>
						<p>Library</p>
					</li>
					<li>
						<span><img src="assets/icons/blackhole.svg" alt=""></span>
						<p>Blackhole</p>
					</li>
				</ul>
			</div>
	</div>

	<div class="main" id="main-settings">
	  <div class="nav-top slide">
			<ul>
				<li><a class="active" href="#">Settings</a></li>
			</ul>
		</div>
	</div>

	<div class="right-list">
			<p class="right-title">Navigation</p>
			<div class="navigation">
				<div class="head-map">
					<img src="assets/images/map-small.png" alt="">
					<span class="nav-user"><img src="assets/icons/nav.png" alt="nav icon"></span>
				</div>
				<div class="bottom-info">
					<span><img src="assets/icons/left-arrow-nav.png" alt=""><p>1.9 miles</p></span>
					<span>/50mph</span>
					<span>Brooklyn, NY, USA</span>
				</div>
			</div>
	</div>
</div>