<div class="content">
	<div class="nav-aside nav-4">
		<ul>
		    <li class="active"><a href="#"><img src="assets/icons/search.png" alt="radio icon"></a></li>
		    <li><a href="#"><img src="assets/icons/fav-large.png" alt="internet icon"></a></li>
		    <li><a href="#"><img src="assets/icons/history.png" alt="music icon"></a></li>
		    <li><a href="#"><img src="assets/icons/interests.png" alt="favorites icon"></a></li>
		</ul>
	</div>

	<div class="main show" id="main-navigation">
		<div class="nav-informations">
			<span>/50mph</span>
			<span><img src="assets/icons/left-arrow-nav.png" alt=""><p>1.9 miles</p></span>
			<span>Brooklyn, NY, USA</span>
		</div>
		<div class="nav-controls">
			<a href="#" class="zoom-in"></a>
			<a href="#" class="zoom-out"></a>
			<a href="#"><img src="assets/icons/nav.png" alt="nav icon"></a>
		</div>
		<div class="map-container">
			<img class="bg" src="assets/images/map-min.png" alt="">
			<span class="nav-user"><img src="assets/icons/nav.png" alt="nav icon"></span>
		</div>
	</div>

</div>