<div class="content">
    <div class="left">
    	<span class="time">10:12 AM</span>
    	<div class="battery">
    		<div class="charge"><span>52</span>%</div>
    		<span class="bar"><span class="progress"></span></span>
    	</div>
    </div>
    <span class="tesla-logo"><img src="assets/icons/tesla-logo.png" alt="tesla logo"></span>
    <div class="right">
    	<span class="bluetooth"><img src="assets/icons/bluetooth.png" alt="bluetooth icon"></span>
    	<div class="network">
    		<img src="assets/icons/network.png" alt="network icon">
    		<span>3G</span>
    	</div>
    	<div class="weather">
    		<span>21°</span>
    		<img src="assets/icons/cloud.png" alt="cloud weather icon">
    	</div>
    </div>
</div>