<div class="content">
    <div class="nav-aside">
        <ul>
            <li><a href="radio-music"><img src="assets/icons/radio.png" alt="radio icon"></a></li>
            <li><a href="internet-music"><img src="assets/icons/internet.png" alt="internet icon"></a></li>
            <li><a href="my-music"><img src="assets/icons/music.png" alt="music icon"></a></li>
            <li><a href="favorite-music"><img src="assets/icons/favorites.png" alt="favorites icon"></a></li>
            <li><a href="playlist-music"><img src="assets/icons/playlists.png" alt="playlists icon"></a></li>
            <li><a href="history-music"><img src="assets/icons/history.png" alt="history icon"></a></li>
        </ul>
    </div>

    <div class="main show" id="main-radio">
      <div class="nav-top">
      	<ul>
      		<li><a class="active" href="#">FM</a></li>
      		<li><a href="#">AM</a></li>
      		<li><a href="#">XM</a></li>
      	</ul>
      </div>
      <div class="radio-player">
        <div class="fav">
        	<img src="assets/icons/fav-large.png" alt="">
        </div>
        <div class="player">
        	<div class="cover">
        		<span><img src="assets/icons/nova-logo-large.png" alt="radio logo"></span>
        	</div>
        	<div class="infos">
        		<p class="radio-name">Radio nova</p>
        		<p class="radio-song"><span>Hanz Zimmer</span> - <span>Day one Dark</span></p>
        	</div>
        	<div class="controls">
        		<div class="frequence-bar">
        			<div class="bar"><span></span><span></span><span></span><span></span><span></span><span class="cursor"></span></div>
        			<p>101.5</p>
        		</div>
        		<div class="next-prev">
        			<span><a href="#"><img src="assets/icons/left-control.png" alt=""></a></span>
        			<span><a href="#"><img src="assets/icons/right-control.png" alt=""></a></span>
        		</div>
        	</div>
        </div>
        <div class="signal"><img src="assets/icons/signal.png" alt=""></div>
      </div>
    </div>

    <div class="main" id="main-my-music">
      <div class="music-explorer">
        <ul>
        	<li>
        		<img src="" alt="">
        		<span class="song-name">September</span>
        		<span class="artist">Steve Cook</span>
        		<span class="album"></span>
        		<span class="duration">4:47</span>
        	</li>
        </ul>
      </div>
    </div>

    <div class="right-list show" id="fav-list">
    	<p class="right-title">Favorites radios</p>
    	<ul>
  	    <li>
  	    	<a href="#">
	        	<span><img src="assets/icons/nova-logo.png" alt="radio logo"></span>
		        <div class="fav-details">
	            <p class="title">Life on mars</p>
	            <p class="artist">David Bowie</p>
		        </div>
	        </a>
  	    </li>
  	    <li>
  	    	<a href="#">
	        	<span><img src="assets/icons/nova-logo.png" alt="radio logo"></span>
		        <div class="fav-details">
	            <p class="title">It's choade my dear</p>
	            <p class="artist">Connan Mockasin</p>
		        </div>
	        </a>
  	    </li>
  	    <li>
  	    	<a href="#">
	        	<span><img src="assets/icons/nova-logo.png" alt="radio logo"></span>
		        <div class="fav-details">
	            <p class="title">The bluest blues</p>
	            <p class="artist">AVin lee</p>
		        </div>
	        </a>
  	    </li>
  	    <li>
  	    	<a href="#">
	        	<span><img src="assets/icons/nova-logo.png" alt="radio logo"></span>
		        <div class="fav-details">
	            <p class="title">Light scent of decay</p>
	            <p class="artist">Session victim</p>
		        </div>
	        </a>
  	    </li>
  	    <li>
  	    	<a href="#">
	        	<span><img src="assets/icons/nova-logo.png" alt="radio logo"></span>
		        <div class="fav-details">
	            <p class="title">The story about you</p>
	            <p class="artist">Mommin</p>
		        </div>
	        </a>
  	    </li>
  	    <li>
  	    	<a href="#">
	        	<span><img src="assets/icons/nova-logo.png" alt="radio logo"></span>
		        <div class="fav-details">
	            <p class="title">Classic piano</p>
	            <p class="artist">Chez damier</p>
		        </div>
	        </a>
  	    </li>
    	</ul>
    </div>

    <div class="right-list" id="my-music-list">
    	<p class="right-title">Playing</p>
    	<div class="player">
    		<div class="cover">
    			<span><img src="assets/icons/nova-logo-large.png" alt="radio logo"></span>
    		</div>
    		<div class="infos">
    			<p class="song-name">The great gig in the sky</p>
    			<p class="song-artist">Pink floyd</p>
    			<p class="song-album">Dark side of the moon</p>
    		</div>
    		<div class="controls">
    			<div class="progress-bar">
    				<div class="bar"></div>
    				<span class="current-time"></span>
    				<span class="end-time"></span>
    			</div>
    			<div class="next-prev">
    				<span><a href="#"><img src="assets/icons/next.png" alt=""></a></span>
    				<span><a href="#"><img src="assets/icons/pause.png" alt=""></a></span>
    				<span><a href="#"><img src="assets/icons/prev.png" alt=""></a></span>
    			</div>
    		</div>
    	</div>
    </div>

    </div>
</div>