<div class="content">
    <div class="nav-aside nav-6">
        <ul>
            <li><a href="#"><img src="assets/icons/radio.png" alt="radio icon"></a></li>
            <li><a href="#"><img src="assets/icons/internet.svg" alt="internet icon"></a></li>
            <li class="active"><a href="#"><img src="assets/icons/music.png" alt="music icon"></a></li>
            <li><a href="#"><img src="assets/icons/favorite.svg" alt="favorites icon"></a></li>
            <li><a href="#"><img src="assets/icons/playlists.png" alt="playlists icon"></a></li>
            <li><a href="#"><img src="assets/icons/history.svg" alt="history icon"></a></li>
        </ul>
    </div>

    <!-- MAIN PANEL -->

    <div class="main show" id="main-my-music">
        <div class="nav-top">
            <ul>
                <li><a class="active" href="#">En lecture</a></li>
            </ul>
        </div>
        <div class="music-player">
            <div class="fav">
                <a href=""><img src="assets/icons/favorite.svg" alt=""></a>
            </div>
            <div class="player">
                <div class="cover">
                    <span><img src="assets/images/gaye.jpg" alt="radio logo"></span>
                </div>

                <div class="infos">
                    <p class="music-name">Let's get it on</p>
                    <p class="music-song"><span>Marvin Gaye</span></p>
                </div>

                <div class="controls">
                    <div class="frequence-bar">
                        <span class="start-time">2:14</span>
                        <span class="end-time">4:22</span>
                        <div class="bar"><span class="playing-progress"></span></div>
                    </div>
                    <div class="next-prev">
                        <span><a href="#"><img src="assets/icons/prev.png" alt=""></a></span>
                        <span class="playlist"><a href="#"><img src="assets/icons/pause.png" alt=""></a></span>
                        <span><a href="#"><img src="assets/icons/next.png" alt=""></a></span>
                    </div>
                </div>
            </div>
            <div class="playlists"><img src="assets/icons/playlists.png" alt=""></div>
        </div>
    </div>
</div>
</div>
</div>