<div class="content">
    <div class="nav-aside nav-6">
        <ul>
            <li><a href="item-1"><img src="assets/icons/radio.png" alt="radio icon"></a></li>
            <li><a href="item-2"><img src="assets/icons/internet.png" alt="internet icon"></a></li>
            <li class="active"><a href="item-3"><img src="assets/icons/music.png" alt="music icon"></a></li>
            <li><a href="item-4"><img src="assets/icons/favorites.png" alt="favorites icon"></a></li>
            <li><a href="item-5"><img src="assets/icons/playlists.png" alt="playlists icon"></a></li>
            <li><a href="item-6"><img src="assets/icons/history.png" alt="history icon"></a></li>
        </ul>
    </div>

    <!-- MAIN PANEL -->

    <div class="main" id="main-radio">
        <div class="nav-top">
            <ul>
                <li><a class="active" href="#">FM</a></li>
                <li><a href="#">AM</a></li>
                <li><a href="#">XM</a></li>
            </ul>
        </div>
        <div class="radio-player">
            <div class="fav">
                <a href=""><img src="assets/icons/fav-large.png" alt=""></a>
            </div>
            <div class="player">
                <div class="cover">
                    <span><img src="assets/icons/nova-logo-large.png" alt="radio logo"></span>
                </div>
                <div class="infos">
                    <p class="radio-name">Radio nova</p>
                    <p class="radio-song"><span>Hanz Zimmer</span> - <span>Day one Dark</span></p>
                </div>
                <div class="controls">
                    <div class="frequence-bar">
                        <div class="bar"><span></span><span></span><span></span><span></span><span></span><span class="cursor"></span></div>
                        <p class="frequence-number">101.5</p>
                    </div>
                    <div class="next-prev">
                        <span><a href="#"><img src="assets/icons/left-control.png" alt=""></a></span>
                        <span><a href="#"><img src="assets/icons/right-control.png" alt=""></a></span>
                    </div>
                </div>
            </div>
            <div class="signal"><img src="assets/icons/signal.png" alt=""></div>
        </div>
    </div>

    <div class="main" id="main-internet">
        <p>Internet</p>
        <div class="music-explorer">
            <ul>
                <li>
                    <img src="" alt="">
                    <span class="song-name">September</span>
                    <span class="artist">Steve Cook</span>
                    <span class="album"></span>
                    <span class="duration">4:47</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="main show" id="main-my-music">
        <div class="nav-top">
            <ul>
                <li><a class="active" href="#">En lecture</a></li>
            </ul>
        </div>
        <div class="music-player">
            <div class="fav">
                <a href=""><img src="assets/icons/fav-large.png" alt=""></a>
            </div>
            <div class="player">
                <div class="cover">
                    <span><img src="assets/icons/nova-logo-large.png" alt="radio logo"></span>
                </div>

                <div class="infos">
                    <p class="music-name">The story about you</p>
                    <p class="music-song"><span>MOMMIN</span></p>
                </div>

                <div class="controls">
                    <div class="frequence-bar">
                        <div class="bar"></div>
                    </div>
                    <div class="next-prev">
                        <span><a href="#"><img src="assets/icons/prev.png" alt=""></a></span>
                        <span class="playlist"><a href="#"><img src="assets/icons/pause.png" alt=""></a></span>
                        <span><a href="#"><img src="assets/icons/next.png" alt=""></a></span>
                    </div>
                </div>
            </div>
            <div class="playlists"><img src="assets/icons/playlists.png" alt=""></div>
        </div>
    </div>

    <div class="main" id="main-favorite">
        <p>Favorite</p>
        <div class="music-explorer">
            <ul>
                <li>
                    <img src="" alt="">
                    <span class="song-name">September</span>
                    <span class="artist">Steve Cook</span>
                    <span class="album"></span>
                    <span class="duration">4:47</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="main" id="main-playlist">
        <p>Playlist</p>
        <div class="music-explorer">
            <ul>
                <li>
                    <img src="" alt="">
                    <span class="song-name">September</span>
                    <span class="artist">Steve Cook</span>
                    <span class="album"></span>
                    <span class="duration">4:47</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="main" id="main-history">
        <p>History</p>
        <div class="music-explorer">
          <ul>
            <li>
                <img src="" alt="">
                <span class="song-name">September</span>
                <span class="artist">Steve Cook</span>
                <span class="album"></span>
                <span class="duration">4:47</span>
            </li>
        </ul>
    </div>
</div>
</div>
</div>