<div class="content">
	<div class="nav-aside nav-5">
		<ul>
			<li><a href="#"><img src="assets/icons/favorite.svg" alt="radio icon"></a></li>
			<li><a href="#"><img src="assets/icons/history.svg" alt="internet icon"></a></li>
			<li class="active"><a href="#"><img src="assets/icons/contact.svg" alt="music icon"></a></li>
			<li><a href="#"><img src="assets/icons/compose_call.svg" alt="favorites icon"></a></li>
			<li><a href="#"><img src="assets/icons/search.svg" alt="playlists icon"></a></li>
		</ul>
	</div>

	<div class="main show" id="main-my-phone">
		<div class="nav-top">
			<ul>
				<li><a class="active" href="#">Contact</a></li>
			</ul>
		</div>
		<div class="phone-contact">
			<ul>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-1-small.png" alt="">
						<span class="first-name">Ryan</span>
						<span class="last-name">Foster</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link gi">
						<img src="assets/images/cover-2-small.png" alt="">
						<span class="first-name">Gi</span>
						<span class="last-name">Deville</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-3-small.png" alt="">
						<span class="first-name">Jean-Mich</span>
						<span class="last-name">Destro</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-4-small.png" alt="">
						<span class="first-name">Dark</span>
						<span class="last-name">Vador</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-5-small.png" alt="">
						<span class="first-name">Rachel</span>
						<span class="last-name">harrison</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-6-small.png" alt="">
						<span class="first-name">Kyll</span>
						<span class="last-name">Campbell</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="main" id="main-calling">
		<div class="nav-top">
			<ul>
				<li><a class="active" href="#">Call</a></li>
			</ul>
		</div>
		<div class="phone-calling">
			<span class="contact-image">
				<img src="assets/images/rachel.png" alt="">
			</span>
			<p class="contact-name">Gi Deville</p>
			<span class="call-duration">00:25</span><span>min</span>
			<div class="phone-controls">
				<img class="mute" src="assets/icons/mute.png" alt="">
				<a href=""><img class="hangout" src="assets/icons/hangout.svg" alt=""></a>
				<img class="plus" src="assets/icons/plus.png" alt="">
			</div>
		</div>
		<div class="end-call">
			<span class="circle"></span>
			<p class="contact-name">Gi Deville</p>
			<p>Appel terminé</p>
			<span class="call-duration">13:12</span><span>min</span>
		</div>
	</div>

	<div class="main" id="main-history">
		<div class="nav-top">
			<ul>
				<li><a class="active" href="#">History</a></li>
			</ul>
		</div>
		<div class="phone-contact">
			<ul>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-1-small.png" alt="">
						<span class="first-name">Ryan</span>
						<span class="last-name">Foster</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-2-small.png" alt="">
						<span class="first-name">Gi</span>
						<span class="last-name">Deville</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-3-small.png" alt="">
						<span class="first-name">Gi</span>
						<span class="last-name">Deville</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-4-small.png" alt="">
						<span class="first-name">Dark</span>
						<span class="last-name">Vador</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-5-small.png" alt="">
						<span class="first-name">Rachel</span>
						<span class="last-name">harrison</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
				<li>
					<a href="#" class="contain-link">
						<img src="assets/images/cover-6-small.png" alt="">
						<span class="first-name">Kyll</span>
						<span class="last-name">Campbell</span>
						<span class="favorite"><img src="assets/icons/favorite.svg" alt="radio icon"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>
</div>