<div class="content">
	<div class="nav-aside nav-5">
		<ul>
			<li><a href="item-1"><img src="assets/icons/favorites.png" alt="radio icon"></a></li>
			<li><a href="item-2"><img src="assets/icons/history.png" alt="internet icon"></a></li>
			<li class="active"><a href="item-3"><img src="assets/icons/contact.png" alt="music icon"></a></li>
			<li><a href="item-4"><img src="assets/icons/num.png" alt="favorites icon"></a></li>
			<li><a href="item-5"><img src="assets/icons/Search.png" alt="playlists icon"></a></li>
		</ul>
	</div>

	<div class="main show" id="main-my-phone">
		<div class="nav-top">
			<ul>
				<li><a class="active" href="#">Contact</a></li>
			</ul>
		</div>
		<div class="main" id="main-contact">
			<div class="phone-contact">
				<ul>
					<li>
						<a href="#"><img src="assets/images/cover-1-small.png" alt=""></a>
						<span class="first-name">Ryan</span>
						<span class="last-name">Foster</span>
						<span class="favorite"><a href="#"><img src="assets/icons/favorites.png" alt="radio icon"></a></span>
					</li>
					<li>
						<a href="#"><img src="assets/images/cover-2-small.png" alt=""></a>
						<span class="first-name">Christina</span>
						<span class="last-name">Marshall</span>
						<span class="favorite"><a href="#"><img src="assets/icons/favorites.png" alt="radio icon"></a></span>
					</li>
					<li>
						<a href="#"><img src="assets/images/cover-3-small.png" alt=""></a>
						<span class="first-name">Gi</span>
						<span class="last-name">Deville</span>
						<span class="favorite"><a href="#"><img src="assets/icons/favorites.png" alt="radio icon"></a></span>
					</li>
					<li>
						<a href="#"><img src="assets/images/cover-4-small.png" alt=""></a>
						<span class="first-name">Dark</span>
						<span class="last-name">Vador</span>
						<span class="favorite"><a href="#"><img src="assets/icons/favorites.png" alt="radio icon"></a></span>
					</li>
					<li>
						<a href="#"><img src="assets/images/cover-5-small.png" alt=""></a>
						<span class="first-name">Rachel</span>
						<span class="last-name">harrison</span>
						<span class="favorite"><a href="#"><img src="assets/icons/favorites.png" alt="radio icon"></a></span>
					</li>
					<li>
						<a href="#"><img src="assets/images/cover-6-small.png" alt=""></a>
						<span class="first-name">Kyll</span>
						<span class="last-name">Campbell</span>
						<span class="favorite"><a href="#"><img src="assets/icons/favorites.png" alt="radio icon"></a></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>