<div class="content">
    <div class="shadowing">
        <div class="opaque"></div>
        <div class="shadow"></div>
        <div class="contenu">
            <div class="cover">
                <img src="assets/icons/warn.png" alt="">
                <span>Collision approaching detected</span>
            </div>
            <div class="check-emergency">
                <ul>
                    <li>
                        <span class="check">Safety check</span>
                    </li>
                    <li>
                        <span class="emergency"><a href="#"><img src="assets/icons/phone-red.png" alt=""></a>Call Emergency</span>
                    </li>
                </ul>
            </div>
            <div class="close" onclick="$('.shadowing').css('display', 'none');"><img src="assets/icons/cross.png" alt=""></div>
        </div>
    </div>
</div>
</div>
</div>