/* @group FOOTER */

#footer {
	.content {
		width: 1160px;
		height: 220px;
		.main{
			&#main-my-footer {
				.nav-top {

					position: relative;

					ul {
							margin-left:170px;
							margin-right:170px;
							padding-top:25px;
						li{
							display:inline-block;
							padding:0 51px 0 65px;
							a{
							}
						}
					}

					p {
						position: absolute;
						left: 49%;
						bottom: -30px;
					}
				}
				.nav-bottom{
					margin-left:90px;
					margin-right:90px;
					margin-top:0px;
					
						text-align:center;
						span{
							&.gauche{
								float: left;
								margin-top:40px;
							}
							&.droite{
								float:right;
								margin-top:40px;
							}
						}
					.temp{

						font-size: 32px;
						color:$font-color;
						font-family: $avenir-light;
						display:inline-block;
						margin-top:70px;

						.cover{

							width:50px;
							height:50px;
							display:inline-block;
							border:1px solid white;
							line-height: 48px;
							border-radius:50%;
							margin:0 25px 0 25px;

							a{
								display: block;

								&.temperature-low {
									img {
										padding-bottom: 10px;
									}
								}
								&.temperature-up {
									img {
										margin-top: 10px;
									}
								}
							}

						}
					}
				}
			}
		}
	}
}

/* @end FOOTER */