/* @group GPS */

#gps {

	position: relative;
	height: 100%;
	color: $font-color;

  .content {

  	.main {

  		&#main-navigation {

        .nav-informations {

          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          font-size: 22px;

          span {
            font-family: $avenir-light;
          }

          span:first-child {
            vertical-align: top;
            margin-left: 20px;
          }
          span:nth-child(2) {

            display: inline-block;
            margin-left: 32%;

            img{
              margin-bottom: 20px;
            }
            p{
              font-size: 22px;
              text-transform: uppercase;
            }
          }
          span:last-child {
            float: right;
            margin-right: 20px;
          }
        }

        .nav-controls {

          position: absolute;
          right: 20px;
          top: 20%;
          z-index: 5;

          a {
            position: relative;
            display: block;
            width: 60px;
            height: 60px;
            margin-bottom: 95px;
            border-radius: 50%;
            background-color: $white-2;
          }

          a:first-child {

            &:before,
            &:after{
              position: absolute;
              content: '';
              top: 29px;
              left: 15px;
              width: 30px;
              height: 2px;
              background-color: $font-color;
            }
            &:after {
              transform: rotate(90deg);
            }
          }

          a:nth-child(2) {

            &:before {
              position: absolute;
              content: '';
              top: 29px;
              left: 15px;
              width: 30px;
              height: 2px;
              background-color: $font-color;
            }
          }

          a:last-child {
           
            img {
              display: block;
              padding-top: 15px;
              height: 30px;
              margin: 0 auto;
            }
          }
        }

        .map-container {

          margin-top: 100px;

          .bg {
            height: 100%;
            transform: scale(1);
            transition: all .4s ease; 
          }
        }

        .nav-user {
          position: absolute;
          bottom: 10px;
          left: 49%;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          box-shadow: 0px 0px 20px 6px $white-1;
          border: 1px solid $white-2;
          background-color: rgba(2, 21, 30, 0.4);
          transform: translateX(-50%);
          img {

            display: block;
            margin: 0 auto;
            margin-top: 20px;
          }
        }
        
  		}

  		&#main-search {
  			.nav-top { margin-bottom: 40px; }
  		}

  		&#main-pointofinterest {
  			.nav-top { margin-bottom: 40px; }
  		}

  		.nav-top {

  			display: block;
  			width: 100%;
  			font-size: 22px;
  			margin-bottom: 80px;

  			ul {

  				display: -webkit-flex;
  				display: -ms-flexbox;
  				display: flex;
  				-webkit-justify-content: center;
  				    -ms-flex-pack: center;
  				        justify-content: center;
  				width: 100%;

  				li {

  					-webkit-flex: 1;
  					    -ms-flex: 1;
  					        flex: 1;
  					text-align: center;

  					a {

  						position: relative;
  						text-decoration: none;
  						color: $font-color;
  						background-size: 0%	1px;
  						background-position: 50% 95%;
  						background-image: linear-gradient(to bottom, transparent 50%, $font-color 50%);
  						background-repeat: no-repeat;
  						transition: all .3s ease;

  						&.active { background-size: 100% 1px; }

  					}

  				}

  			}

  		}

  		.music-explorer {

  			height: 580px;
  			overflow-y: scroll;
  			-ms-overflow-scrollbar: none;

  			&::-webkit-scrollbar {
  				display: none;
  			}

  			ul {

  				width: 100%;

  				li {

  					display: -webkit-flex;
  						display: -ms-flexbox;
  							display: flex;
  					height: 80px;
  					padding: 0 30px 0 50px;
  					font-size: $size14;

  					&:nth-child(odd) {background-color: $white-05;}

  					.adress {

  						-webkit-flex: 1;
  						    -ms-flex: 1;
  						        flex: 1;

  						padding-top: 20px;

  						p:first-child {
  							text-transform: uppercase;
  							margin-bottom: 10px;
  							letter-spacing: 2px;
  						}
  						p:last-child{
  							letter-spacing: 1px;
  						}

  					}
  					.distance {

  						flex: 1;
  						line-height: 80px;
  						text-align: center;

  					}
  					.startnav {

							width: 100px;
  						margin-top: 30px;

  					}
  				}

  			}

  		}

  		.poi-list {

  			position: relative;
  			overflow: hidden;
  			padding-top: 20px;

  			ul {

  				li {
  					
  					width: calc(98%/4);
  					display: inline-block;
  					margin-bottom: 40px;
  					text-align: center;

  					span {

  						position: relative;
  						display: block;
  						margin: 0 auto;
  						margin-bottom: 40px;
  						width: 120px;
  						height: 120px;
  						border-radius: 50%;
  						background-color: $white-05;
  						box-shadow: 0px 0px 10px 10px $white-05;

  						img {
  							margin-top: 50%;
  							-webkit-transform: translateY(-50%);
  							        transform: translateY(-50%);
  						}

  					}
  					p:nth-child(n-1) {

  						text-transform: uppercase;
  						margin-bottom: 10px;

  					}
  					p:last-child {

  						color: $white-6;

  					}
  				}
  			}
  		}


  	}

  	.right-list {

      .navigation {

        overflow: hidden;
        
        .head-map {

          position: relative;
          display: block;
          height: 280px;
          width: 100%;

          .nav-user {
            position: absolute;
            bottom: -20px;
            left: 46%;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: 0px 0px 20px 6px $white-1;
            border: 1px solid $white-2;
            background-color: rgba(2, 21, 30, 0.4);
            transform: translateX(-50%);
            img {

              display: block;
              margin: 0 auto;
              height: 30px;
              margin-top: 15px;
            }
          }
        }

        .bottom-info {
          text-align: center;
          padding-top: 60px;

          span {
            display: block;
            font-family: $avenir-light;
          }

          span:first-child {

            margin: 0 auto;
            margin-bottom: 50px;

            img{
              margin-bottom: 20px;
            }
            p{
              font-size: 26px;
              text-transform: uppercase;
            }
          }
          span:last-child {
            margin-top: 30px;
          }
        }
      }

  	}

  }
}

#gps-min {
  
  .content {

    .main {

      &#main-navigation {

        overflow: hidden;
        position: relative;

        .nav-informations {

          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          font-size: 18px;
          color: $font-color;
          font-family: $avenir-light;

          span {
            vertical-align: top;
          }

          span:first-child {
            margin-left: 20px;
          }
          span:nth-child(2) {

            display: inline-block;
            margin-left: 18%;

            img{
              margin-bottom: 20px;
            }
            p{
              font-size: 22px;
              text-transform: uppercase;
            }
          }
          span:last-child {
            float: right;
            margin-right: 20px;
          }
        }

        .nav-controls {

          position: absolute;
          right: 20px;
          top: 20%;
          z-index: 5;

          a {
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            margin-bottom: 30px;
            border-radius: 50%;
            background-color: $white-2;
          }

          a:first-child {

            &:before,
            &:after{
              position: absolute;
              content: '';
              top: 24px;
              left: 13px;
              width: 25px;
              height: 2px;
              background-color: $font-color;
            }
            &:after {
              transform: rotate(90deg);
            }
          }

          a:nth-child(2) {

            &:before {
              position: absolute;
              content: '';
              top: 24px;
              left: 13px;
              width: 25px;
              height: 2px;
              background-color: $font-color;
            }
          }

          a:last-child {
           
            img {
              display: block;
              padding-top: 13px;
              height: 25px;
              margin: 0 auto;
            }
          }
        }

        .map-container {

          .bg {
            height: 100%;
            margin-left: -25%;
            transition: all .4s ease; 
          }
        }

        .nav-user {
          position: absolute;
          bottom: 10px;
          left: 39%;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          box-shadow: 0px 0px 20px 6px $white-1;
          border: 1px solid $white-2;
          background-color: rgba(2, 21, 30, 0.4);
          transform: translateX(-50%);
          img {

            display: block;
            height: 30px;
            margin: 0 auto;
            margin-top: 20px;
          }
        }
        
      }     
    }
  }
}

/* @end GPS */