/* @group MUSIC */

#music {
	position: relative;
	height: 100%;
	font-family: $avenir-light;
	color: $font-color;

  .content {

		position: relative;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
  	height: 100%;
  	padding: 20px 0;

  	.nav-aside {
  				
			position: relative;
			width: 9%;
			margin: 20px 0;
  		border-right: 1px solid $white-2;

  		&:after,
  		&:before {

  			position: absolute;
  			content: '';
  			right: -1px;
  			height: 20px;
  			width: 1px;
  			background: $white-2;
  			
  		}

  		&:before {

  			top: -20px;
		    background: -webkit-gradient(bottom right,top right,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
		    background: -webkit-linear-gradient(bottom,$white-2,hsla(5,26%,83%,0));

  		}

  		&:after {

  			bottom: -20px;
		    background: -webkit-gradient(top right,bottom right,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
		    background: -webkit-linear-gradient(top,$white-2,hsla(5,26%,83%,0));

  		}

			&.nav-6 {
				ul {
					margin-top: 60%;
				}
			}

			ul {

				li {
					height: calc(100%/6);
					text-align: center;
					transition: all .3s ease;

					&.active {
						background-color: rgba(249, 249, 249, 0.05);
					}

					a{

						padding: 25px 0;
						display: block;

					}

				}

			}
  	
  	}

  	.main {
			
			display: none;
  		width: 66%;
  		padding-top: 20px;

			&.show { display: block; }

  		&#main-radio {padding: 20px 70px 0;}
  		&#main-my-music {
  			padding-top: 60px;

  			.nav-top {
  				margin-bottom: 40px;
  			}

  		}

			.nav-top {

				display: block;
				width: 100%;
				font-size: 22px;
				margin-bottom: 80px;

				ul {

					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-justify-content: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					width: 100%;

					li {

						-webkit-flex: 1;
						    -ms-flex: 1;
						        flex: 1;
						text-align: center;

						a {

							position: relative;
							text-decoration: none;
							color: $font-color;
							background-size: 0%	1px;
							background-position: 50% 95%;
							background-image: linear-gradient(to bottom, transparent 50%, $font-color 50%);
							background-repeat: no-repeat;
							transition: all .3s ease;

							&.active { background-size: 100% 1px; }

						}

					}

				}

			}

			.music-explorer {

				ul {

					width: 100%;

					li {

						display: -webkit-flex;
							display: -ms-flexbox;
								display: flex;
						height: 80px;
						line-height: 80px;
						padding: 0 30px 0 50px;
						font-size: 14px;

						&:nth-child(odd) {background-color: rgba(255, 255, 255, 0.05);}

						.song-cover {

							position: relative;
							width: 50px;
							height: 50px;
							margin: 15px 38px 0 0;

							img {
								position: absolute;
								height: 100%;
							}
						}
						.song-name {

							flex: 1;
							max-width: 140px;
							margin-right: 70px;
							text-transform: uppercase;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;

						}
						.artist {

							flex: 1;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;

						}
						.album {

							flex: 1;
							max-width: 140px;
							margin-right: 20px;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;

						}
						.duration {

						}
					}

				}

			}

			.radio-player {

				display: -webkit-flex;
					display: -ms-flexbox;
						display: flex;
				-webkit-justify-content: space-between;
				    -ms-flex-pack: justify;
				        justify-content: space-between;

				.fav {
					a {
						display: block;
					}
				}

				.player {

					-webkit-flex: 1;

					    -ms-flex: 1;

					        flex: 1;
					text-align: center;
					
					.cover {
						
						position: relative;
						margin: auto;
						width: 200px;
						height: 200px;
						margin-bottom: 35px;
						line-height: 220px;
						border: 1px solid $font-color;
						box-shadow: 0px 0px 100px 40px $white-1;
						border-radius: 50%;
						z-index: 1;

						&:before {
							position: absolute;
							content: '';
							left: 0;
							width: 198px;
							height: 198px;
							border: 1px solid #ffa7bb;
							opacity: 1;
							border-radius: 50%;
							z-index: 2;
						}

					}

					.infos {

						text-transform: uppercase;

						.radio-name {
							font-size: 22px;
							margin-bottom: 25px;
						}
						.radio-song {
							font-size: 20px;
							color: $white-6; 
						}
					}

					.controls {

						margin-top: 50px;

						.frequence-bar {

							.bar {

								position: relative;
								width: 280px;
								height: 2px;
								margin: 0 auto;
								margin-bottom: 40px;
								text-align: center;
								background-color: $font-color;

								&::before,
								&::after {

									position: absolute;
									content: '';
									width: 50px;
									height: 2px;

								}

								&::before {
									left: -50px;
									background: rgba(249,249,249,1);
									background: -webkit-gradient(right top, left top, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(223,202,200,0)));
									background: -webkit-linear-gradient(right, rgba(249,249,249,1) 0%, rgba(223,202,200,0) 100%);
								}

								&::after {
									right: -50px;
									background: rgba(249,249,249,1);
									background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(223,202,200,0)));
									background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(223,202,200,0) 100%);
								}

								span {

									position: absolute;
									width: 2px;
									height: 11px;
									background-color: $font-color;
									top: -5px;
									box-shadow: 0px 0px 40px 1px #f9f9f9;
									z-index: 2;

									&:first-child {
										left: 20px;
									}

									&:nth-child(2) {
										left: 80px;
									}

									&:nth-child(3) {
										height: 25px;
										top: -11px;
									}

									&:nth-child(4) {
										right: 80px;
									}

									&:nth-child(5) {
										right: 20px;
									}

									&.cursor {
										height: 20px;
										right: 108px;
										top: -9px;
										background-color: #ffa7bb;
										z-index: 3;
										transition: all .3s ease-out;
									}

								}

							}

							p {
								font-size: 20px;
								color: $white-6;
							}

						}

						.next-prev {

							width: 80%;
							margin: 0 auto;

							span {
								width: 70px;
								height: 70px;
								line-height: 70px;
								background-color: $white-1;
								border-radius: 50%;

								&:first-child {
								 float: left;
								 img {margin-left: 10px;}
								}
								&:last-child {
								 float: right;
								 img {margin-right: 10px;}
								}

								a { display: block; img{ display: block; } }

							}

						}

					}

				}
				.signal {

				}
			}



  	}

  	.right-list {

  		position: relative;
			display: none;
  		width: 25%;
  		margin: 20px 0;
  		padding: 0 0 30px;
  		font-size: 14px;
  		border-left: 1px solid $white-2;

  		&.show { display: block; }

  		&:after,
  		&:before {

  			position: absolute;
  			content: '';
  			left: -1px;
  			height: 20px;
  			width: 1px;
  			background: $white-2;
  			
  		}

  		&:before {

  			top: -20px;
		    background: -webkit-gradient(bottom left,top left,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
		    background: -webkit-linear-gradient(bottom,$white-2,hsla(5,26%,83%,0));

  		}

  		&:after {

  			bottom: -20px;
		    background: -webkit-gradient(top left,bottom left,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
		    background: -webkit-linear-gradient(top,$white-2,hsla(5,26%,83%,0));

  		}

  		.right-title {

				height: 80px;
				line-height: 80px;
  			font-size: 14px;
  			text-transform: uppercase;
  			text-align: center;

  		}

			ul {

				position: relative;

				li {
					
					height: 80px;
					width: 100%;
					box-sizing: border-box;
					transition: all .3s ease;

					&:nth-child(odd) { background-color: $white-1; }
					&:hover { background-color: $white-1; }

					a {

						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
						text-decoration: none;
						padding: 10px 0 10px 20px;

						span {
							width: 60px;
							height: 60px;
							margin-right: 20px;
							// line-height: 70px;
							border-radius: 50%;
							text-align: center;
							background-color: $white-1;
							
							img {
								margin-top: 50%;
								-webkit-transform: translateY(-50%);
								        transform: translateY(-50%);
							}
						}
						
						.fav-details {
							
							margin-top: 15px;

							.title,
							.artist { text-transform: uppercase; }

							.artist { 

								font-size: 12px;
								margin-top: 5px;
							}

						}

					}

				}

			}

  	}

  }

}

/* @end MUSIC */