/* @group PHONE */

#phone {
	position: relative;
	height: 100%;
	font-family: $avenir-light;
	color: $font-color;
	.content {

	}
}

#phone-min{

	.content{
		position: relative;

		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;

		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;

		height: 100%;
		padding: 20px 0;

		.main{
			&#main-my-phone {
				width:100%;
				padding-top: 0px;
				margin-left:auto;
				margin-right:auto;

				.nav-top {
					margin-bottom: 20px !important;
				}
			}

			.phone-contact{
				height: 350px;
				overflow-y: scroll;
				overflow:hidden;
				-ms-overflow-scrollbar: none;

				&::-webkit-scrollbar {
					display: none;
				}
				ul {
					height: 347px;
					width: 100%;
					overflow-y: scroll;
					-ms-overflow-scrollbar: none;

					&::-webkit-scrollbar {
						display: none;
					}

					li {
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;

						height: 80px;
						line-height: 80px;
						font-size: $size16;
						color:$font-color;


						&:nth-child(odd) {background-color: $white-05;}
						img{
							padding:18px;
						}
						.first-name {
							-webkit-flex: 1;
							-ms-flex: 1;
							flex: 1;

							max-width: 140px;
							margin-right: 70px;
							text-transform: uppercase;
						}
						.last-name {
							-webkit-flex: 1;
							-ms-flex: 1;
							flex: 1;

							text-transform: uppercase;

						}
						.favorite {
							-webkit-flex: 1;
							-ms-flex: 1;
							flex: 1;

							max-width: 140px;
							margin-right: 20px;

							img{
								display:block;
								margin:auto;
								padding-left:15px;
								padding-top:25px;
								width:35px;
								height:30px;

							}
						}
					}

				}
			}
		}

	}
}

/* @end PHONE */