/* @group LAYOUT */

body {
  background: #0a0a0a;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

// Loader
#starsLoader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 0;
}

#starsLoader #starsLoader_canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#starsLoader #starsLoader_label {
  position: absolute;
  top: 49%;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  opacity: 0;
}

// Particles
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #00121b 10%,#456978 100%);
  background-size: cover;
  z-index: 1;

  canvas {
    display: block;
    vertical-align: bottom;
    z-index: 1;
  }
}

#global {
  position: absolute;
  z-index: 9;
  margin-right: 20px;
  margin-left: 20px;

  #prm-tile {
    width: 1160px;
    height: 720px;
    margin-bottom: 18px;
    border: 1px solid #fff;

    #overlay-main {
      position: absolute;
      width: 100%;
      height: 720px;
      background:rgba(0,0,0,0.2);
      opacity: 0;
      display: none;
      z-index:100;
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
    }

    .main-active {
      display: block;
    }
    .not-active {
      display: none;
    }
  
    /****  Common styles for widgets  ****/

    #music,
    #phone,
    #gps,
    #browser,
    #energy {

      .content {

        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        height: 100%;
        padding: 20px 0;

        .nav-aside {
              
          position: relative;
          width: 9%;
          margin: 20px 0;
          border-right: 1px solid $white-2;

          &:after,
          &:before {

            position: absolute;
            content: '';
            right: -1px;
            height: 20px;
            width: 1px;
            background: $white-2;
            
          }

          &:before {

            top: -20px;
            background: -webkit-gradient(bottom right,top right,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
            background: -webkit-linear-gradient(bottom,$white-2,hsla(5,26%,83%,0));

          }

          &:after {

            bottom: -20px;
            background: -webkit-gradient(top right,bottom right,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
            background: -webkit-linear-gradient(top,$white-2,hsla(5,26%,83%,0));

          }

          &.nav-5 {
            ul {
              margin-top: 90%;
            }
          }

          &.nav-6 {
            ul {
              margin-top: 60%;
            }
          }

          &.nav-7 {
            ul {
              margin-top: 0;
            }
          }

          ul {

            li {
              height: calc(100%/6);
              text-align: center;
              transition: all .3s ease;

              &.active {
                background-color: rgba(249, 249, 249, 0.05);
              }

              a{

                padding: 25px 0;
                display: block;

              }

            }

          }
        
        }

        .main {

          position: relative;
          display: none;
          width: 66%;
          padding-top: 20px;
          overflow: hidden;

          &.show { display: block; }
        }

        .right-list {

          position: relative;
          display: none;
          width: 0%;
          margin: 0 0 20px;
          padding: 0 0 30px;
          font-size: $size14;
          border-left: 1px solid $white-2;
          transition: all .7s ease;

          &.show { display: block; width: 25%;}

          &:after,
          &:before {

            position: absolute;
            content: '';
            left: -1px;
            height: 20px;
            width: 1px;
            background: $white-2;
            
          }

          &:before {

            top: -20px;
            background: -webkit-gradient(bottom left,top left,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
            background: -webkit-linear-gradient(bottom,$white-2,hsla(5,26%,83%,0));

          }

          &:after {

            bottom: -20px;
            background: -webkit-gradient(top left,bottom left,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
            background: -webkit-linear-gradient(top,$white-2,hsla(5,26%,83%,0));

          }

          .right-title {

            height: 80px;
            line-height: 80px;
            font-size: $size14;
            text-transform: uppercase;
            text-align: center;

          }

        }

      }
    }

  }

  #snd-tile {
    width: 1160px;
    height: 840px;
    margin-bottom: 20px;

    .snd {
      width: 570px;
      height: 410px;
      border: 1px solid #fff;

      &.snd-hidden {
        display: none;
      }
      
      .box {
        width: 100%;
        height: 100%;
      }
    }

    .snd-1, .snd-2 {
      margin-bottom: 20px;
    }

    .snd-left {
      float: left;
    }

    .snd-right {
      float: right;
    }
    
    #music-min,
    #gps-min,
    #phone-min,
    #energy-min {

      .content {

        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        height: 100%;
        padding: 20px 0;

        .nav-aside {

          // width: 18%;
          position: relative;
          width: 11%;
          margin: 20px 0;
          border-right: 1px solid $white-2;

          &:after,
          &:before {

            position: absolute;
            content: '';
            right: -1px;
            height: 20px;
            width: 1px;
            background: $white-2;
            
          }

          &:before {

            top: -20px;
            background: -webkit-gradient(bottom right,top right,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
            background: -webkit-linear-gradient(bottom,$white-2,hsla(5,26%,83%,0));

          }

          &:after {

            bottom: -20px;
            background: -webkit-gradient(top right,bottom right,color-stop(0,$white-2),color-stop(100%,hsla(5,26%,83%,0)));
            background: -webkit-linear-gradient(top,$white-2,hsla(5,26%,83%,0));

          }

          &.nav-6 {
            ul {
              margin-top: -20%;
            }
          }

          &.nav-5 {
            ul {
              margin-top: 10%;
            }
          }
          &.nav-3 {
            ul {
              height: 300px;
              margin-top: 30%;

              li {
                height: calc(100%/3);
                a{
                  padding: 30px 0;
                }
              }
            }
          }

          ul {
            li {

              height: calc(100%/6);
              text-align: center;
              transition: all .3s ease;

              &.active {
                background-color: rgba(249, 249, 249, 0.05);
              }

              a{
                display: block;
                padding: 14px 0;
                img{
                  width: 30px;
                  // height: 30px;
                }
              }
            }
          }

        }

        .main {

          font-family: $avenir-light;

          &#main-navigation {
            width: 85%;  
          }

          .nav-top{
            display: block;
            width: 100%;
            font-size: 22px;
            margin-bottom: 0px;

            ul {
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;

              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;

              width: 100%;

              li {
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                
                text-align: center;

                a {
                  position: relative;
                  text-decoration: none;
                  color: $font-color;
                  background-size: 0% 1px;
                  background-position: 50% 95%;
                  background-image: linear-gradient(to bottom, transparent 50%, $font-color 50%);
                  background-repeat: no-repeat;
                  transition: all .3s ease;

                  &.active { background-size: 100% 1px; }

                }

              }

            }
          }
          
        }
      }
    }

  }
}

/* @end LAYOUT */